#navy-staff {
  padding: 20px 10px 0 10px;
}
#navy-staff .fleet-name-button {
  display: flex;
}
#navy-staff .fleet-name-button > button {
  flex: 1;
}
#navy-staff .fleet-name-button > button.combined {
  flex: 2;
}
#navy-staff .fleet-info {
  border: 0px;
  margin-bottom: 1em;
}
#navy-staff .fleet-info .panel-body {
  padding: 5px;
  display: flex;
}
#navy-staff .fleet-info .panel-body > div {
  flex: 1;
  text-align: center;
}
#navy-staff .ship-list {
  display: flex;
}
#navy-staff .ship-list >div {
  flex: 1;
}
#navy-staff .ship-view {
  display: flex;
  padding: .5ex 0;
}
#navy-staff .ship-name {
  flex: 1;
  margin-right: 1em;
  font-size: 120%;
  max-width: 7em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#navy-staff .ship-info {
  flex: 1;
  display: flex;
}
#navy-staff .ship-info > div {
  flex: 1;
  text-align: center;
}

#navy-staff .dropdown-menu {
  overflow-y: scroll;
  max-height: 15em;
}

#navy-staff .dropdown-menu::-webkit-scrollbar {
  width: 1em;
}
